#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PYVERS :=  python2.7
PY3VERS :=  $(shell py3versions -s)

%:
	dh $@ --with python2,python3

override_dh_auto_build:

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	set -ex; \
		for py in $(PY3VERS); do \
			$$py setup.py test; \
		done
endif

override_dh_auto_clean:
	dh_auto_clean -- --all
	rm -rf build
	rm -rf doc/_build

override_dh_auto_install:
	dh_auto_install
	set -ex; \
	for py in $(PYVERS); do \
		$$py setup.py install --root debian/python-yapsy \
				      --install-layout=deb; \
	done
	set -ex; \
	for py in $(PY3VERS); do \
		$$py setup.py install --root debian/python3-yapsy \
				      --install-layout=deb; \
	done
	# Doc
	cd doc; \
	make html; \
	cd -;
	rm doc/_build/html/_static/underscore.js
	rm doc/_build/html/_static/jquery.js
	rm doc/_build/html/_static/doctools.js
	rm doc/_build/html/_static/searchtools.js
	rm doc/_build/html/_static/sidebar.js
